.detail {
  background-color: #ebebeb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

.stats {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.stat-column {
  display: inline-grid;
  gap: 5px;
}

.stat-label {
  font-weight: bold;
  margin-top: 15px;
}

.stat-value {
  text-align: right;
  margin: 0;
}

.gauge-container {
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.image-carrousel {
  /* Ajoutez d'autres styles nécessaires ici */

  /* Ajoutez la propriété de transformation pour l'animation de rotation sur l'axe Y */
  transition: transform 0.5s ease-in-out;
}

.image-carrousel.rotate {
  /* Ajoutez la transformation pour la rotation sur l'axe Y */
  transform: rotateY(180deg);
}

.evolution-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.evolution-row {
  position: relative;
  display: flex;
  align-items: center;
}

.evolution-connector {
  flex: 1;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  z-index: -1;
}

.evolution-node {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px;
  margin: 0 8px;
  text-align: center;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.evolution-node span {
  margin: auto;
}



/* Media queries pour ajuster la disposition en fonction de la taille de l'écran */
@media only screen and (max-width: 767px) {
  .detail {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .stats {
    grid-template-columns: 1fr;
  }
}
