.card {
  flex-wrap: wrap;
  background-color: #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: grid;
  width: 25em;
  cursor: pointer;
}

.image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  border-radius: 8px 8px 0 0;
}

.content {
  padding: 20px;
}

h2 {
  margin-top: 0;
  color: red;
  text-align: center;
}

p {
  margin-bottom: 10px;
  color: #333;
}
