.card {
  flex-wrap: wrap;
  background-color: #ebebeb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: grid;
  width: 15em;
  cursor: pointer;
}

.image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  border-radius: 8px 8px 0 0;
}

.content {
  padding: 20px;
}

h2 {
  margin-top: 0;
  color: red;
  text-align: center;
}

p {
  margin-bottom: 10px;
  color: #333;
}

.type-icon {
  display: inline-block;
  margin-right: 5px;
}

.type-icon img {
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .card {
    width: 100%; /* Adjusted width for smaller screens */
    border-radius: 0;
  }

  .image {
    border-radius: 0;
  }
}
